@use '../../../../colors';

.taskTileComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-style: italic;
  &:hover .taskButtons * {
      width: 2.2em;
  }
  .taskText {
    display: flex;
    .taskIndex {
      display: block;
      margin-right: 0.5em;
      cursor: default;
    }
    .taskTitle {
      &.taskDone {
        text-decoration: line-through;
      }
    }
  }
  .taskButtons {
    display: flex;
    height: 100%;
    * {
      cursor: pointer;
      transition: 0.1s ease-in-out;
      user-select: none;
      box-sizing: border-box;
      padding: 0;
      width: 0.6em;
      overflow: hidden;
    }
    *:hover {
      width: 3em;
    }
  }
}