.taskContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  .sidebar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24vw;
    min-width: 320px;
    max-width: 480px;
    height: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    img {
      width: 180px;
    }
    .taskListsContainer {
      background-color: #f6f6f6;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      flex: 1;
      margin: 24px 0;
      overflow: auto;
      .taskListsContainerShadow {
        background: linear-gradient(to bottom, #0003 0%, #0000 4%, #0000 96%, #0003 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
      .taskLists {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 16px;
        width: 100%;
        height: 1000x;
        max-height: 100%;
        padding: 64px;
        box-sizing: border-box;
        overflow-y: overlay;
        overflow-x: hidden;
        button {
          flex-shrink: 0;
          width: 100%;
          height: 36px;
        }
        .taskListButton {
          background-color: rgb(157, 203, 255);
          border-radius: 21px;
        }
        .taskListAddButton {
          margin-top: 24px;
          border-radius: 10px;
        }
      }
    }
    .logOutSection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      height: calc(64px + 1em);
      margin-top: auto;
      button {
        width: 100%;
        height: calc(100% - 1em - 16px);
      }
      .loggedUsername {
        color: #888;
      }
    }
  }
  .taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 64px 6vw 48px 6vw;
    overflow: overlay;
    .taskTile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 70%;
      min-height: 52px;
      margin-bottom: 18px;
    }
    .taskForm {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 52px;
    }
  }
}